 <form class="event-comment-form form-block form-plr-15 form-h-45 form-mb-20 form-brdr-lite-white mb-md-50 mb-4" action="{% url 'viewpost' post.id %}" method="post">{% csrf_token %}
						{{ comment_form  }}
						<button class="btn btn-success btn-fill-primary plr-30 mt-2"  type="submit"><b>LEAVE A COMMENT</b></button>
					</form>
					<h4 class="p-title mt-20"><b>{{ comments.count }} COMMENTS</b></h4>
                    <div style="height: 800px;overflow: auto;padding: 10px;">
                    {% for comment in comments %}

                        <blockquote class="blockquote">

                        <p class="mb-0" style="font-size: 20px;text-align: justify;">{{ comment.content }}</p>
                        <footer class="blockquote-footer">by <cite title="Source Title" style="color: red">{{ comment.user.full_name|capfirst }}</cite><code>{{ comment.timestamp }}</code>
                        <button type="submit" class="event-reply-btn btn btn-outline-dark btn-sm">Reply</button>
                        </footer>
                        </blockquote>

                        <div class="event-replied-comments container mt-2 ml-40" style="display: none">
                        {% for reply in comment.replies.all %}
                            <blockquote class="blockquote">
                            <p class="mb-0" style="color: #0000cc;font-size: 15px;">{{ reply.content }}</p>
                            <footer class="blockquote-footer">by <cite title="Source Title" style="color: #29b323">{{ reply.user.full_name|capfirst }}</cite>
                            <code>{{ reply.timestamp }}</code>
                            </footer>
                            </blockquote>
                        {% endfor %}

                            <div class="form-group row ml-60 ">
                                <form class="event-reply-form form-block form-plr-15 form-h-45 form-mb-20 form-brdr-lite-white mb-md-50"action="{% url 'viewpost' post.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
						{{ comment_form  }}
						<button class="btn-fill-primary plr-30 mt-2 btn btn-success"  type="submit"><b>LEAVE A REPLY</b></button>
					</form>

                            </div>

                        </div>

                    {% endfor %}
                    </div>
