<form method="post" action="{% url 'like' %}" class="float-left mr-4">{% csrf_token %}
<button  class="btn btn-success" type="submit" name="like" id="like" value="{{ post.id }}">Like <span class="badge">{{ post.likes.count }}</span></button>
</form>
<form method="post" action="{% url 'dislike' %}" class="float-right">{% csrf_token %}
 <button class="btn btn-warning" type="submit" id="dislike" name="dislike" value="{{ post.id }}">Dislike <span class="badge">{{ post.dislikes.count }}</span></button>
</form>
